[submodule "frontend"]
	path = frontend
	url = https://github.com/ThiagoGoetten/front.teste.pontta.git
[submodule "backend"]
	path = backend
	url = https://github.com/ThiagoGoetten/back.teste.pontta.git
